{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">shopping bag</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pink-text">
        <div class="row">
            <div class="col-md-8">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm pink-text ">
                            <thead>
                                <tr>
                                    <th scope="col">Package</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Sub total</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <th class="text-uppercase" scope="row">{{ item.package.name }}</th>
                                    <td>${{ item.package.price }}</td>
                                    <!-- <td>{{ item.quantity }}</td> -->
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-dark"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td>${{ item.package.price | calc_subtotal:item.quantity }}</td>
                                </tr>
                            {% endfor %}    
                            
                                <tr class="table-borderless">
                                    <td colspan="3" class="pt-4">
                                        <h5 class="bag-total" ><strong>Bag Total: </strong></h5>
                                    </td>
                                    <td colspan="4" class="pt-4 text-left">
                                        <h5><strong>${{ total|floatformat:2 }}</strong></h5>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <table class="table table-borderless pink-text add-margin bag-total">
                            <!-- <thead>
                                <tr>
                                    <h5 class="bag-total" >
                                        <strong>Bag Total: $ {{ total|floatformat:2 }}</strong>
                                    </h5>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr class="table-borderless">
                                    <td></td>
                                    <td class="">
                                        <a href="{% url 'packages' %}" class="btn btn-sm btn-outline-dark">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Back to packages</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-dark">
                                            <span class="icon">
                                                <i class="fa-solid fa-unlock-keyhole"></i>
                                            </span>
                                            <span class="text-uppercase">Secure Checkout</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 add-margin">Your bag is empty.</p>
                    <a href="{% url 'packages' %}" class="btn btn-sm btn-outline-dark">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to packages</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}