{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">shopping bag</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pink-text">
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        {{ bag_items}}
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'packages' %}" class="btn btn-sm btn-outline-dark">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to packages</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}