@font-face {
    font-family: Montserrat;
    src: url('../font/MontserratAlternates-Regular.ttf');
}

:root {
    --bg-light-pink: #FFEFEF;
    --bg-pink-100: #c2206d;
    --bg-dark-pink: #802a30;
    --bg-pink-500: #620b1d;
}

body {
    margin: 0;
    background: url('../../media/images/pexels-karolina-4041285.jpg') no-repeat center center;
    background-size: cover;
    font-family: Montserrat, Verdana, monospace;
}

.add-margin {
    margin-top: 130px;
    margin-bottom: 100px;
}

.pink-text {
    color: var(--bg-pink-500);
}

.pink-dark {
    color: var(--bg-dark-pink);
}

.pink-silk {
    background-color: var(--bg-light-pink);
}

