{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text"></div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

<div class="container pink-text">
    <div class="row justify-content-start">
        <div class="col-md-6 text-uppercase">
          <h1>{% trans "Account Inactive" %}</h1>
          <hr>
        </div>
    </div>

    <div class="col-md-12">
        <p>{% trans "This account is inactive." %}</p>
    </div>
</div>
{% endblock %}