{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text"></div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<div class="container pink-text">
    <div class="row justify-content-start">
        <div class="col-md-6 text-uppercase">
            <h1>{% trans "Set Password" %}</h1>
            <hr>
        </div>
    </div>

    <div class="col-md-8">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-sm btn-outline-dark" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
{% endblock %}