{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text"></div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div class="container pink-text">
    <div class="row justify-content-start">
        <div class="col-md-6 text-uppercase">
            <h1>{% trans "Sign Up Closed" %}</h1>
            <hr>
        </div>
    </div>

    <div class="col-md-8">
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
</div>
{% endblock %}