{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% endblock %}

    {% block css %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../media/favicon/favicon.ico" >
    <link rel="icon" type="image/png" sizes="32x32" href="../media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../media/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block javascript %}
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b991a574e6.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>The Pink Silk</title>
</head>

<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light pink-silk">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="../media/images/wallpaper_cover_small.png" alt="The Pink Silk Spa" height="70">
            </a>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav h5 ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'packages' %}">Spa Packages |</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About |</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Member Area </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">

                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="#">Manage Membership</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}

                        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                        {% endif %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="{% if grand_total %}text-danger font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div>| <i class="fa-solid fa-bag-shopping"> </i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'toasts/toast_success.html' %}
                    {% else %}
                        {% include 'toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- WELCOME PAGE HEADER -->
    <div>
        {% block page_header %}
        {% endblock %}
    </div>

    <!-- CONTENT -->
    <div class="add-margin">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FOOTER -->
    {% block footer %}
    <footer class="py-3 pink-silk">
        
        <div class="card-group pink-silk">
            <div class="card">
                <div class="card-body pink-silk">
                    <h5 class="card-title text-center pink-text">Contact Us</h5>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Phone</th>
                                    <td>012-3456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>thepinksilk@example.ie</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Monday to Friday</th>
                                    <td>09.00 - 18.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Saturday & Sunday</th>
                                    <td>08.00 - 18.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body pink-silk">
                    <h5 class="card-title text-center pink-text">Follow Us</h5>
                    <div class="card-body text-center">
                        <a href="http://facebook.com" target="_blank" rel="noopener noreferrer" class="findus-btn">
                            <i class="fa fa-facebook-square fa-2x pink-text" aria-hidden="true"></i>
                        </a>
                        <a href="http://instagram.com" target="_blank" rel="noopener noreferrer" class="findus-btn">
                            <i class="fa fa-instagram fa-2x pink-text" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-center pink-silk">
                   <h5 class="card-title text-center pink-text">Find Us</h5>
                   <div class="card-body text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d153092.94479759724!2d-6.226643!3d53.162653!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b831f3332cec4f9!2sCrone%20Woods!5e0!3m2!1sen!2sie!4v1668097563189!5m2!1sen!2sie" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
                    </div>             
                </div>
            </div>
        </div>

        <p class="m-0 pink-text text-center ">Copyright &copy; The Pink Silk</p>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    <!-- TOASTS -->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>