{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">about us</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-8 my-auto">
                <p class="pink-text">
                    <strong>The Pink Silk</strong> is recognised as one of the world's leading spa destinations. Our state-of-the-art thermal area and treatment rooms are at the heart of our Spa Experience. Journey through our thermal rooms which are based on ancient heating and cooling bathing rituals. 
                </p>
                <p class="pink-text">
                    We offer a fascinating range of treatments and Day Spa Packages, to ensure you relax, rejuvenate and renew in this stunning and unique environment. 
                </p>
                <p class="pink-text">
                    The Pink Silk’s highly skilled therapists will provide you with professional guidance and consultation in order to attain full benefits from our range of spa treatments and therapies.
                </p>
                <p class="pink-text">
                    Not sure what to go for? <strong>Call our team on 012-3456789</strong> to enquire about our programmes.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7 col-md-8 my-auto">
                <p class="fst-italic fw-semibold">
                    Please note that The Pink Silk is an adults-only destination. Demand for treatments is high. To ensure availability we strongly recommend that you book treatments well in advance.
                </p>
                <p class="fst-italic fw-semibold">
                    Privacy: Our Spa is gender neutral, there are no separate male and female areas in the communal Spa areas. We have dedicated male and female changing rooms.
                </p>
            </div>
        </div>
    </div>
{% endblock %}