{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">about us</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-8 my-auto">
                <p class="pink-text">
                    <strong>The Pink Silk</strong> is recognised as one of the world's leading spa destinations. Our state-of-the-art thermal area and treatment rooms are at the heart of our Spa Experience. Journey through our thermal rooms which are based on ancient heating and cooling bathing rituals. 
                </p>
                <p class="pink-text">
                    We offer a fascinating range of treatments and Day Spa Packages, to ensure you relax, rejuvenate and renew in this stunning and unique environment. 
                </p>
                <p class="pink-text">
                    The Pink Silk's highly skilled therapists will provide you with professional guidance and consultation in order to attain full benefits from our range of spa treatments and therapies.
                </p>
                <p class="pink-text">
                    Not sure what to go for? <strong>Call our team on 012-3456789</strong> to enquire about our programmes.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7 col-md-8 my-auto pink-text">
                <p><strong>Cancellation Policy</strong></p>
                <p>
                    As a courtesy to other clients, please give us at least 72 hours notice if you need to cancel your spa booking. Please note that there is a cancellation fee of 50% if the cancellation is made less than 72 hours prior to the booking. Failure to present or same day cancellations will be charged at 100% of the treatment or programme price.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7 col-md-8 my-auto pink-text">
                <p><strong>Privacy</strong></p>
                <p>
                    Our Spa is gender neutral, there are no separate male and female areas in the communal Spa areas. We have dedicated male and female changing rooms.
                </p>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row my-5">
            <div class="col-7 col-md-8 my-auto pink-text">
                <p><strong>NOTE</strong></p>
                <p>
                    Prices are per person and are correct at time of print, and are subject to alteration without prior notice. We reserve the right to raise prices and modify or discontinue treatments without prior notice to ensure that maximum standards of service and quality are met. Demand for treatments is high. To ensure availability we strongly recommend that you book treatments well in advance.
                    All bookings are subject to The Pink Silk's Terms and Conditions, available on request.
                </p>
                <p class="fst-italic fw-semibold">
                    <strong>The Pink Silk is an adults-only destination.</strong> 
                </p>
            </div>
        </div>
    </div>
{% endblock %}