{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">contact us</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pink-text h-100">
        <div class="row h-100">
            <div class="col-7 col-md-8 my-auto">
                <h1>Fill the form if you have any questions</h1>
                <p>
                    Please write your name, email address and a message below if you have any questions.
                    One of our staff members will be happy to contact you directly and answer your questions as soon as possible. 
                </p>
                <form class="col-md-6 btt-padding" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="col-12 btt-padding">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-outline-dark">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Home</span>
                        </a>
                        <button class="btn btn-sm btn-outline-dark text-uppercase" type="submit">Submit</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}