{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center fw-bold fs-4 pink-text">new testemonial</div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container pink-text">
    <div class="row">
        <div class="col-10 col-lg-6">
            <p>Posting as: {{ user.username }}</p>
            <form method="POST" action="{% url 'new_testemonial' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right btt-padding">
                    <a class="btn btn-sm btn-outline-dark rounded-0" href="{% url 'testemonials' %}">Cancel</a>
                    <button class="btn btn-sm btn-outline-dark rounded-0" type="submit">Add New Testemonial</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}